.showPedia-actor {
  box-sizing: border-box;
}

.showPedia-actor img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-sizing: border-box;
}

.showPedia-actor-name {
  font-family: 'Dosis', sans-serif;
  display: block;
  font-size: 22px;
  color:#fff;
  padding: 10px 20px;
  box-sizing: border-box;
}

.showPedia-actor-character {
  font-family: 'Dosis', sans-serif;
  display: block;
  font-size: 18px;
  color:#fff;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}