.showPedia-header {
  width: 100%;
  height: auto;
  background: #1c1c1c;
  padding: 0 20px;
  box-sizing: border-box;
}

.showPedia-header-content {
  max-width: 1280px;
  height: auto;
  padding: 16px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.showPedia-logo {
  width: 200px;
  height: 40px;
  object-fit: cover;
  float: left;
}

.showPedia-tmdb-logo {
  height: 40px;
  float: right;
}

@media screen and (max-width: 500px) {
  .showPedia-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .showPedia-tmdb-logo {
    display: inline-block;
    width:80px;
    margin-top: 0px;
  }

  .showPedia-logo {
    width: 150px;
    margin-top: 5px;
  }
}